body, p {
  margin: 0;
  line-height: 1; }

body {
  background: #21232e; }

.header {
  min-height: 900px;
  background: url("../img/m-h-night.jpg") no-repeat left center;
  background-size: 1920px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  border-radius: 0 0 38% 0; }
  .header-wrap {
    max-width: 1536px;
    margin: auto; }
  .header_heading {
    font-size: 90px;
    font-weight: 700;
    margin-top: 90px;
    max-width: 650px;
    position: relative;
    z-index: 1; }
    .header_heading::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 379px;
      height: 30px;
      background: #f95037;
      z-index: -1; }
  .header_text {
    font-size: 21px;
    line-height: 1.5;
    margin-top: 44px;
    letter-spacing: -.2px;
    white-space: pre-line;
    font-family: "Fresca", sans-serif; }
  .header_button, .section_banner_button {
    color: #ffffff;
    padding: 17px 54px;
    margin-top: 73px;
    font-size: 22px;
    background: #e3ac00;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer; }
    .header_button:hover, .section_banner_button:hover {
      background: #977200; }
    .header_button:active, .section_banner_button:active {
      background: #ffd964;
      color: #404040; }

.landing-logo {
  display: flex;
  align-items: flex-start;
  padding-top: 25px; }
  .landing-logo img {
    width: 55px; }
  .landing-logo p {
    margin-left: 19px;
    font-size: 32px;
    padding-top: 2px;
    letter-spacing: -1.4px;
    font-weight: 600;
    font-family: "Fresca", sans-serif; }
    .landing-logo p span {
      display: block;
      text-align: center;
      font-size: 14px;
      margin-top: 4px;
      letter-spacing: -.6px; }

.section {
  max-width: 1536px;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .section_text {
    display: inline-block;
    text-align: center;
    margin: 52px auto 55px;
    font-size: 52px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: #ffffff; }
    .section_text::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 237px;
      height: 17px;
      background: #f95037;
      bottom: 2px;
      right: 15px; }
  .section_card {
    width: 32.2%;
    box-sizing: border-box;
    background: #3b3f50;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    padding: 25px; }
    .section_card_wrap {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .section_card_img {
      width: 100%;
      max-height: 294px;
      border-radius: 5px; }
    .section_card_heading {
      text-align: center;
      color: #ffffff;
      margin: 21px 0;
      height: 31px;
      font-size: 31px;
      font-weight: 600;
      position: relative;
      z-index: 1; }
    .section_card_underline {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 15px;
      background: #f95037;
      bottom: -3px;
      right: 0; }
    .section_card_text {
      text-align: center;
      width: 100%;
      color: #c6c8c3;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: .1px;
      font-family: "Fresca", sans-serif; }
  .section_banner {
    margin-top: 177px;
    border-radius: 8px;
    width: 1200px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 38px 130px 40px;
    box-sizing: border-box;
    background: linear-gradient(to right, #dda207, #96324f);
    position: relative;
    z-index: 4; }
    .section_banner_heading {
      color: #ffffff;
      font-size: 40px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      letter-spacing: -1px;
      position: relative; }
      .section_banner_heading::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 80px;
        height: 15px;
        background: #f95037;
        bottom: 3px;
        left: 149px; }
    .section_banner_text {
      margin-top: 30px;
      color: #c6c8c3;
      font-size: 20px;
      padding-bottom: 16px; }
      .section_banner_text_wrap {
        font-family: "Fresca", sans-serif; }
    .section_banner_button {
      margin-top: 0; }

.footer {
  margin-top: -90px;
  box-sizing: border-box;
  padding-top: 169px;
  background: #3b3f50;
  height: 310px;
  position: relative;
  z-index: 2;
  color: #c0c3ce; }
  .footer-wrap {
    max-width: 1536px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .footer_logo {
    padding-top: 0; }
  .footer_text {
    max-width: 386px;
    font-family: "Fresca", sans-serif;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 1.4;
    margin-top: -10px; }
  .footer-cr {
    font-size: 20px;
    margin-top: 17px;
    font-family: "Fresca", sans-serif; }
