$headerBackground: url("../img/m-h-day.jpg") no-repeat left center;
$bodyBackground: #ffffff;
$headerColor: #2c2f3c;
$mainFont: "Hind", sans-serif;
$buttonColor: #699900;
$buttonBorderRadius: 4px;
$cardBackground: #21232e;
$heeaderAfterColor: #14a0c7;
$sectionHeaderColor: #2c2f3c;
$themeGradient: linear-gradient(to right, #649412, #2f5dd0);
$footerBackground: #21232e;