$headerBackground: url("../img/m-h-night.jpg") no-repeat left center;
$bodyBackground: #21232e;
$headerColor: #ffffff;
$mainFont: "Fresca", sans-serif;
$buttonColor: #e3ac00;
$buttonBorderRadius: 3px;
$cardBackground: #3b3f50;
$heeaderAfterColor: #f95037;
$sectionHeaderColor: #ffffff;
$themeGradient: linear-gradient(to right, #dda207, #96324f);
$footerBackground: #3b3f50;